:root {
  --main-title: #000000;
  --plain-text: #000000;
  --background: #ffffff81;
  --background-strong: rgba(255, 255, 255, 0.6);
  --ciff-blue: #283b79;
  --grid: #bcbcbc3b;
  --left-edge: 0rem;
  --right-edge: 25rem;
  --bottom-edge: 26rem;
  --orbit-item-width: 200px;
  font-family: sans-serif;
}

@font-face {
  font-family: "Karrik";
  src: url("./Karrik-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  font-family: "Karrik";
  overflow: hidden;
  color: var(--ciff-blue);
}

h1 {
  font-size: 32px;
}

#slogan {
  text-align: center;
  padding: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--ciff-blue) 15px 15px;
  background-color: var(--background);
  max-width: 600px;
  width: 90%;
  z-index: 1;
  justify-content: space-between;
}

#title {
  margin-bottom: 250px;
}

button {
  background: none;
  cursor: pointer;
  border: 2px var(--ciff-blue) solid;
  font-family: Karrik;
  font-size: 20px;
  margin: 5px;
  color: var(--ciff-blue);
}

a {
  color: var(--ciff-blue);
}

#button-container {
  display: flex;
  margin-left: -21px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sib-form-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sib-form-block__button {
  background: none;
  border: 2px var(--ciff-blue) solid;
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: #2bb2fc;
}

#instagram {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 33px;
  filter: saturate(2) hue-rotate(302deg);
}

h3 {
  margin-bottom: 0px;
}

#bottom-text {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#background {
  position: absolute;
  height: 2000px;
  width: 2000px;
  margin-top: -1000px;
  margin-left: -1000px;
  top: 50%;
  left: 50%;
  z-index: 0;
  animation: rotate-in-place 90s infinite linear;
  overflow: hidden;
}

@keyframes rotate-in-place {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#previous {
  font-size: 15px;
  margin-bottom: 10px;
}
