:root {
  --main-title: #000000;
  --plain-text: #000000;
  --background: rgba(255, 255, 255, 0.3);
  --background-strong: rgba(255, 255, 255, 0.6);
  --grid: #bcbcbc3b;
  --left-edge: 0rem;
  --right-edge: 25rem;
  --bottom-edge: 26rem;
  --orbit-item-width: 200px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
p,
a {
  background-color: var(--background-strong);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid;
  z-index: 1;
  background-color: var(--background);
}

#parade {
  position: absolute;
  width: 100%;
  max-width: 600px;
  user-select: none;
  overflow: hidden;
  height: 600px;
  z-index: 0;
}

.sib-form-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sib-form-block__button:hover {
  opacity: 0.7;
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: #2bb2fc;
}

#instagram {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 33px;
  filter: saturate(0);
}
