:root {
  --main-title: #000000;
  --plain-text: #000000;
  --background: rgba(255, 255, 255, 0.3);
  --background-strong: rgba(255, 255, 255, 0.6);
  --grid: #bcbcbc3b;
  --left-edge: 0rem;
  --right-edge: 25rem;
  --bottom-edge: 26rem;
  --orbit-item-width: 200px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
}

h1,
h2,
h3,
p,
a,
button {
  /* background-color: var(--background-strong);*/
  /*backdrop-filter: invert(); */
  color: white;
  -webkit-text-stroke: 1px black;
}

h2,
h3,
p,
a,
button {
  font-size: 28px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*min-height: 100%;*/
  max-width: 600px;
  z-index: 1;
  justify-content: space-between;
}

#title {
  margin-bottom: 250px;
}

#submit-button {
  background: none;
  backdrop-filter: invert();
  padding: 1rem 2rem;
  width: 250px;
  cursor: pointer;
  border: none;
}

#anti-button {
  position: absolute;
  top: 308px;
  display: block;
  width: 250px;
  height: 96px;
  backdrop-filter: invert();
}

#anti-email-button {
  margin-left: -1px;
  position: absolute;
  top: 508px;
  display: block;
  width: 258px;
  height: 40px;
  backdrop-filter: invert();
}

#parade {
  top: 0px;
  position: absolute;
  width: 100%;
  min-height: 100%;
  user-select: none;
  overflow: hidden;
  animation: background-drift 30s infinite linear;
  z-index: 0;
  overflow-wrap: break-word;
  contain: layout;
  background-image: url(emojis.png);
  background-repeat: repeat;
}

@keyframes background-drift {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1102px -1058px;
  }
}

.parade-item {
  display: inline-flex;
  justify-content: center;
  width: 20px;
  height: 25px;
}

#invert-container {
  width: 100%;
  max-width: 400px;
  position: absolute;
}

#anti-invert-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  z-index: -1;
  position: absolute;
  flex-direction: column;
  align-items: center;
}

.inverted {
  position: absolute;
  backdrop-filter: invert();
  height: 25px;
  width: 18px;
}

.sib-form-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sib-form-block__button {
  backdrop-filter: invert();
  background: none;
  border: 0px;
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: #2bb2fc;
}

#instagram {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 33px;
  filter: invert();
}

h3 {
  margin-bottom: 0px;
}

#bottom-text {
  margin-bottom: 5px;
  font-size: 20px;
}
